// 项目提供scss全局变量
// 左侧的菜单的宽度
$base-menu-width: 260px;
$base-menu-min-width: 50px;
$base-menu-background: #96c2e3;
$base-menu-logo-height: 40px;
$base-logo-title-fontSize: 20px;
$base-tabbar-height: 50px;
